#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.toolbar {
  display: flex;
  width: fit-content;
  height: 30px;
  font-size: 16px;
}

.filter-checkbox {
  display: none;
}


.filter-label {
  padding: 0 10px;
  margin: 0 5px;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.filter-label:hover {
  border: 1px solid grey;
  color: grey;
}

.filter-checkbox:checked + .filter-label {
  background-color: black;
  color: white;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 20px;
}